

:root {

    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%)

}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;;
}

.card {
    display: flex;
    align-items: center;
    background-color:  var(--DarkBlue);
    color: var(--White);
    border-radius: 10%;
    width: 340px;
}

#ratings-container {
display: flex;
margin-bottom: 3vh;
gap: 2vh;
justify-content: center;
}

.btn-primary {
    border-radius: 50%;
    font-size: small;
    padding: 12px 18px
}

.btn-secondary{
    padding: 8px 15px;
    border-radius: 50px;
    background-color: var(--White);
    color: var(--Orange);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
}