:root {

    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%)
}

body {
    background-color: var(--VeryDarkBlue) ;
}

.hidden {
    display: none !important;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

#rating-card {
    display: flex;
    background-color: var(--DarkBlue);
    color: var(--White);
    border-radius: 10%;
    width: 320px;
    padding: 3vh;
    gap: 0.8vh;

}

#thankyou-card {
    display: flex;
    align-items: center;
    background-color: var(--DarkBlue);
    color: var(--White);
    border-radius: 10%;
    width: 320px;
    padding: 3vh;
    gap: 0.5vh;
    text-align: center;
}

#ratings-container {
    display: flex;
    margin-bottom: 3vh;
    gap: 2vh;
    justify-content: center;
}

.btn-secondary {
    border-radius: 50%;
    font-size: small;
    padding: 12px 18px;
    background-color: hsl(214, 19%, 25%);
    color: hsl(215, 40%, 82%);
    border: 0px;
}

.btn-secondary:hover {
    background-color: var(--LightGrey);
    border: 0px;
    outline: none;
}

.btn-secondary:focus {
    background-color: var(--Orange);
    outline: none !important
}

.btn-primary {
    padding: 8px 15px;
    border-radius: 50px;
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 260px;
}

.btn-primary:hover {
    background-color: var(--White);
    color: var(--Orange);
    outline: none !important
}

#star-icon-container {
    display: flex;
    align-items: center;
    background-color: hsl(214, 19%, 25%);
    width: fit-content;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 2vh;
}

.card-title {
    font-weight: 700;
}

.card-text {
    font-size: small;
    color: var(--LightGrey);
}

#rating-component {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(214, 20%, 27%);
    border-radius: 50px;
    color: var(--Orange);
    border: none;
    font-size: 14px;
    padding: 0.5vh 1vh;

}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }